@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
/*Misc.*/
body{
    background-color: #eee;
    font-family: 'Source Sans Pro';
}
.newspaper-container{
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 3px 3px 2px 0px rgba(221, 221, 221, .95);
    width: 60%;
    margin:auto;
    margin-top: 7.5%;
    border-radius: 2em;
}
h2, h5, h4{
    font-family: "Roboto Slab";
}
/*misc end*/
/*header*/
.date{
    padding-left: 1em;
    padding-top: 1em;
    color: #bcbcbc;
}
h1{
    font-weight: bold;
    font-size: 4em;
    font-family: "Abril Fatface";
    text-align: center;
}
/*header end*/
/* Start navbar styles */
nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline;
    padding-left: .5em;
    padding-right: .5em;
}
nav li a{
    color: #777;
    text-decoration: none;
}
nav li a:hover{
    text-decoration: underline;
}
.navHr{
    width: 97.5%;
    height: 2px;
    background-color: #dddcdc;
    border: none;
}
/* end navbar styles */

/*main article start*/
h5{
    color: red;
}
h2, h5{
    padding-left: 6.5%;
}
main img{
width: 87.25%;
display: block;
margin: auto;
height: auto;
}
main p{
    width: 87.25%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
/*main article end*/
/*secondary articles*/
.articleHr{
    width: 87.25%;
    height: 2px;
    background-color: #dddcdc;
    border: none;
}
.more-articles{
    width: 100%;
}
section{
    display: inline-block;
    width: 40%;
    padding-left: 3.7em;
}
section img{
    width: 100%;
}
/*Secondary articles end*/

